<!DOCTYPE html>
<html lang="en">
<head>    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <!-- SEO Meta Tags -->
    <meta name="description" content="A Game + Economy + AI chatbot to play games on Discord!">
    <meta name="author" content="Letbyte">

    <!-- OG Meta Tags to improve the way the post looks when you share the page on LinkedIn, Facebook, Google+ -->
	<meta property="og:site_name" content="" /> <!-- website name -->
	<meta property="og:site" content="" /> <!-- website link -->
	<meta property="og:title" content=""/> <!-- title shown in the actual shared post -->
	<meta property="og:description" content="" /> <!-- description shown in the actual shared post -->
	<meta property="og:image" content="" /> <!-- image link, make sure it's jpg -->
	<meta property="og:url" content="" /> <!-- where do you want your post to link to -->
	<meta property="og:type" content="article" />

    <!-- Website Title -->
    <title>MyDyno</title>
    
    <!-- Styles -->
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,400i,600,700,700i&amp;subset=latin-ext" rel="stylesheet">
    <link href="../assets/discord-bot/css/bootstrap.css" rel="stylesheet">
    <link href="../assets/discord-bot/css/fontawesome-all.css" rel="stylesheet">
    <link href="../assets/discord-bot/css/swiper.css" rel="stylesheet">
	<link href="../assets/discord-bot/css/magnific-popup.css" rel="stylesheet">
	<link href="../assets/discord-bot/css/styles.css" rel="stylesheet">
	
	<!-- Favicon  -->
    <link rel="icon" href="../assets/icon.png">
</head>

<style>
#customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers td {
    text-align: left;
}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: middle;
  background-color: #00bfd8;
  color: white;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 55px;
  height: 24px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  /* background-color: #2196F3; */
  background-color: #2521f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
</style>

<body data-spy="scroll" data-target=".fixed-top">

    <% const fs = require('fs') %>
    <% let clientCommands = new Array() %>
    <% let commandListArray = new Array(); %>
    
    <% const commandFolders = fs.readdirSync('./discord/commands/') %>
    <% commandFolders.forEach((folder) => { %>
    <%     const commandFiles = fs.readdirSync('./discord/commands/' + folder).filter(file => file.endsWith('.js')) %>
    <%     commandFiles.forEach((file) => { %>
    <%         const command = require('../discord/commands/' + folder + '/' + file) %>
    <%         commandListArray.push({folder: folder, file: file, command: command.name}) %>
    <%     }) %>
    <% }) %>
    
    <% let commandArray = commandListArray.reduce((a, b) => Object.assign(a, { [b.folder]: ( a[b.folder] || [] ).concat(b) }), {}) %>
    
    <!-- Preloader -->
	<div class="spinner-wrapper">
        <div class="spinner">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
        </div>
    </div>
    <!-- end of preloader -->
    

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
        <!-- Text Logo - Use this if you don't have a graphic logo -->
        <!-- <a class="navbar-brand logo-text page-scroll" href="index.html">Evolo</a> -->
        
        <!-- Mobile Menu Toggle Button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-awesome fas fa-bars"></span>
            <span class="navbar-toggler-awesome fas fa-times"></span>
        </button>
        <!-- end of mobile menu toggle button -->

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link page-scroll" href="/">Letbyte</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link page-scroll" href="#header">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link page-scroll" href="#features">Features</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link page-scroll" href="#commands">Commands</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link page-scroll" href="#metrics">Metrics</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link page-scroll" href="#uptime">Uptime</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link page-scroll">NSFW Commands</a>
                </li>
                <label class="switch">
                    <input type="checkbox" id="toggleNsfwButton">
                    <span class="slider round"></span>
                </label>
            </ul>
        </div>
    </nav> <!-- end of navbar -->
    <!-- end of navigation -->

    
    <!-- Header -->
    <header id="header" class="header">
        <div class="header-content">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="text-container">
                            <h1><span class="turquoise">MyDyno</span></h1>
                            <p class="p-large">A Game + Economy + AI chatbot to play games on Discord!</p>
                            <p class="p-large">Playing with <%= client.guilds.cache.reduce((a, b) => a + b.memberCount, 0) %>+ users in <%= client.guilds.cache.size %>+ servers!</p>
                            <a class="btn-solid-lg page-scroll" href="/discord/invite">Invite Bot</a>
                            <a class="btn-solid-lg page-scroll" href="/discord/support">Support</a>
                        </div> <!-- end of text-container -->
                    </div> <!-- end of col -->
                    <div class="col-lg-6">
                        <div class="image-container">
                            <img class="img-fluid" src="../assets/icon.png" alt="MyDyno">
                        </div> <!-- end of image-container -->
                    </div> <!-- end of col -->
                </div> <!-- end of row -->
            </div> <!-- end of container -->
        </div> <!-- end of header-content -->
    </header> <!-- end of header -->
    <!-- end of header -->


    <!-- Features -->
    <div id="features" class="cards-1">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2>Features</h2>
                    <p class="p-heading p-large">A Game + Economy + AI chatbot!</p>
                </div> <!-- end of col -->
            </div> <!-- end of row -->
            <div class="row">
                <div class="col-lg-12">

                    <!-- Card -->
                    <div class="card">
                        <img class="card-image" src="../assets/discord-bot/images/card-game.jpg" alt="alternative">
                        <div class="card-body">
                            <h4 class="card-title">Game</h4>
                            <p>A Game + Economy + AI chatbot to play games on Discord!</p>
                        </div>
                    </div>
                    <!-- end of card -->

                    <!-- Card -->
                    <div class="card">
                        <img class="card-image" src="../assets/discord-bot/images/card-economy.png" alt="alternative">
                        <div class="card-body">
                            <h4 class="card-title">Economy</h4>
                            <p>MyDyno is economy bot that gives you currency commands!</p>
                        </div>
                    </div>
                    <!-- end of card -->

                    <!-- Card -->
                    <div class="card">
                        <img class="card-image" src="../assets/discord-bot/images/card-fun.png" alt="alternative">
                        <div class="card-body">
                            <h4 class="card-title">Fun</h4>
                            <p>MyDyno is an AI chatbot which allows you to talk to the bot!</p>
                        </div>
                    </div>
                    <!-- end of card -->
                    
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->

        <!-- Details 1 -->
        <div class="basic-1">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="text-container">
                            <h2>Play games!</h2>
                            <p>With daily feature updates!</p>
                        </div> <!-- end of text-container -->
                    </div> <!-- end of col -->
                    <div class="col-lg-6">
                        <div class="image-container">
                            <img class="img-fluid" src="../assets/discord-bot/images/rpsCommand.png" alt="alternative">
                        </div> <!-- end of image-container -->
                    </div> <!-- end of col -->
                </div> <!-- end of row -->
            </div> <!-- end of container -->
        </div> <!-- end of basic-1 -->
        <!-- end of details 1 -->
    
        
        <!-- Details 2 -->
        <div class="basic-2">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="image-container">
                            <img class="img-fluid" src="../assets/discord-bot/images/workCommand.png" alt="alternative">
                        </div> <!-- end of image-container -->
                    </div> <!-- end of col -->
                    <div class="col-lg-6">
                        <div class="text-container">
                            <h2>Work with economy!</h2>
                            <p>Buy item in shop!</p>
                        </div> <!-- end of text-container -->
                    </div> <!-- end of col -->
                </div> <!-- end of row -->
            </div> <!-- end of container -->
        </div> <!-- end of basic-2 -->
        <!-- end of details 2 -->
    </div> <!-- end of cards-1 -->
    <!-- end of features -->


    <!-- Header -->
    <header id="commands" class="cards-1">
        <div class="container">

            <div class="col-lg-12">
                <h2>Commands</h2>
                <p class="p-heading p-large">List of all bot commands!</p>
            </div> <!-- end of col -->

            <div class="text-container">
                
                <div id="commandList">
                    <table id="customers">

                        <tr>
                            <th>Category</th>
                            <th>Commands</th>
        
                            <% Object.keys(commandArray).forEach((key) => { %>
                                <% if(key !== 'nsfw'){ %>
                                    <tr>
                                        <td><%= key %></td>
                                        <td><%= commandArray[key].map(obj => '' + obj.command + '').join(', ') %></td>
                                    </tr>
                                <% } %>
                            <% }) %>
                        </tr>
        
                    </table>
                </div>

            </div> <!-- end of text-container -->

        </div> <!-- end of container -->
    </header> <!-- end of header -->
    <!-- end of header -->


    <!-- Header -->
    <header id="metrics" class="cards-1">
        <div class="container">

            <div class="col-lg-12">
                <h2>Metrics</h2>
                <p class="p-heading p-large">Commands uses metrics!</p>
            </div> <!-- end of col -->

            <div class="text-container">
                
                <div id="commandMetrics">
                    <table id="customers">

                        <tr>
                            <% client.commands.forEach((cmd) => { %>
                
                                <% if(!cmd.nsfw){ %>
                                    <th class="btn-solid-lg" style="padding: 20px; border-radius: 0rem; font-family: 'Ubuntu Mono'; font-weight: bold; text-align: center; font-size: 1.2em; background-color: #04AA6D;">
                                        <%= cmd.name %> : <%= cmd.useCount %>
                                    </th>
                                <% } %>
                                    
                            <% }) %>
                        </tr>
        
                    </table>
                </div>

            </div> <!-- end of text-container -->

        </div> <!-- end of container -->
    </header> <!-- end of header -->
    <!-- end of header -->


    <!-- Header -->
    <header id="uptime" class="cards-1">
        <div class="container">

            <div class="col-lg-12">
                <h2>Uptime</h2>
                <p class="p-heading p-large">Uptime status!</p>
            </div> <!-- end of col -->

            <div class="text-container">
                
                <div class="container" style="color: #333; margin: 0 auto; text-align: center;">

                    <div id="countdown">
                      <ul>
                        <li style="display: inline-block; font-size: 1.5em; list-style-type: none; padding: 1em; text-transform: uppercase;"><span style="display: block; font-size: 3rem;" id="days">0</span><br><br>days</li>
                        <li style="display: inline-block; font-size: 1.5em; list-style-type: none; padding: 1em; text-transform: uppercase;"><span style="display: block; font-size: 3rem;" id="hours">0</span><br><br>Hours</li>
                        <li style="display: inline-block; font-size: 1.5em; list-style-type: none; padding: 1em; text-transform: uppercase;"><span style="display: block; font-size: 3rem;" id="minutes">0</span><br><br>Minutes</li>
                        <li style="display: inline-block; font-size: 1.5em; list-style-type: none; padding: 1em; text-transform: uppercase;"><span style="display: block; font-size: 3rem;" id="seconds">0</span><br><br>Seconds</li>
                      </ul>
                    </div>

                </div>

            </div> <!-- end of text-container -->

        </div> <!-- end of container -->
    </header> <!-- end of header -->
    <!-- end of header -->


    <!-- Copyright -->
    <div class="copyright">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <p class="p-small">Copyright © 2021 MyDyno</p>
                </div> <!-- end of col -->
            </div> <!-- enf of row -->
        </div> <!-- end of container -->
    </div> <!-- end of copyright --> 
    <!-- end of copyright -->
    
    	
    <!-- Scripts -->
    <script src="../assets/discord-bot/js/jquery.min.js"></script> <!-- jQuery for Bootstrap's JavaScript plugins -->
    <script src="../assets/discord-bot/js/popper.min.js"></script> <!-- Popper tooltip library for Bootstrap -->
    <script src="../assets/discord-bot/js/bootstrap.min.js"></script> <!-- Bootstrap framework -->
    <script src="../assets/discord-bot/js/jquery.easing.min.js"></script> <!-- jQuery Easing for smooth scrolling between anchors -->
    <script src="../assets/discord-bot/js/swiper.min.js"></script> <!-- Swiper for image and text sliders -->
    <script src="../assets/discord-bot/js/jquery.magnific-popup.js"></script> <!-- Magnific Popup for lightboxes -->
    <script src="../assets/discord-bot/js/validator.min.js"></script> <!-- Validator.js - Bootstrap plugin that validates forms -->
    <script src="../assets/discord-bot/js/scripts.js"></script> <!-- Custom scripts -->
    <script src="../assets/discord-bot/js/contact.js"></script> <!--Contact Script-->
    
    <script>
        let commandListDiv = document.getElementById('commandList')
        let commandMetricsDiv = document.getElementById('commandMetrics')
        let toggleNsfwButton = document.getElementById('toggleNsfwButton')
        
        if(localStorage.getItem('toggleNSFW') == 'true'){
            toggleNsfwButton.checked = true

            commandMetricsDiv.innerHTML = 
            `
            <table id="customers">

                <tr>
                    <% client.commands.forEach((cmd) => { %>
    
                        <th class="btn-solid-lg" style="padding: 20px; border-radius: 0rem; font-family: 'Ubuntu Mono'; font-weight: bold; text-align: center; font-size: 1.2em; background-color: #04AA6D;">
                            <%= cmd.name %> : <%= cmd.useCount %>
                        </th>
                        
                    <% }) %>
                </tr>

            </table>
            `

            commandListDiv.innerHTML =
            `
            <table id="customers">

                <tr>
                    <th>Category</th>
                    <th>Commands</th>

                    <% Object.keys(commandArray).forEach((key) => { %>
                        <tr>
                          <td><%= key %></td>
                          <td><%= commandArray[key].map(obj => '' + obj.command + '').join(', ') %></td>
                        </tr>
                    <% }) %>
                </tr>

            </table>
            `
        }
        else if(localStorage.getItem('toggleNSFW') == 'false'){
            toggleNsfwButton.checked = false

            commandMetricsDiv.innerHTML =
            `
            <table id="customers">

                <tr>
                    <% client.commands.forEach((cmd) => { %>
        
                        <% if(!cmd.nsfw){ %>
                            <th class="btn-solid-lg" style="padding: 20px; border-radius: 0rem; font-family: 'Ubuntu Mono'; font-weight: bold; text-align: center; font-size: 1.2em; background-color: #04AA6D;">
                                <%= cmd.name %> : <%= cmd.useCount %>
                            </th>
                        <% } %>
                            
                    <% }) %>
                </tr>

            </table>
            `

            commandListDiv.innerHTML =
            `
            <table id="customers">

                <tr>
                    <th>Category</th>
                    <th>Commands</th>

                    <% Object.keys(commandArray).forEach((key) => { %>
                        <% if(key !== 'nsfw'){ %>
                            <tr>
                                <td><%= key %></td>
                                <td><%= commandArray[key].map(obj => '' + obj.command + '').join(', ') %></td>
                            </tr>
                        <% } %>
                    <% }) %>
                </tr>

            </table>
            `
        }
        toggleNsfwButton.addEventListener('click', (checkbox) => {
            localStorage.setItem('toggleNSFW', checkbox.target.checked)
            location.reload()
        })
        
        (function () {

            const daysCounter = document.getElementById("days")
            const hoursCounter = document.getElementById("hours")
            const minutesCounter = document.getElementById("minutes")
            const secondsCounter = document.getElementById("seconds")

            let clientUptime = Number("<%= client.uptime %>")
            let totalSeconds = (clientUptime / 1000);

            setInterval(() => {
                totalSeconds++
                let days = Math.floor(totalSeconds / 86400);
                let a = (totalSeconds % 86400)
                let hours = Math.floor(a / 3600);
                let b = (a % 3600)
                let minutes = Math.floor(b / 60);
                let seconds = Math.floor(b % 60);

                daysCounter.innerText = days
                hoursCounter.innerText = hours
                minutesCounter.innerText = minutes
                secondsCounter.innerText = seconds
            }, 1000)
        }());
    </script>
</body>
</html>